/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

form {
  border: 1px solid #7e7d7d;
}
.form-header {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
  gap: 10px;
}
div .form-checkbox-control {
  padding: 12px;
}
.form-submit-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 12px;
}

div .form-row label {
  font-weight: bold;
  padding: 1px;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.form-input-control {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 12px;
}
div .form-row input {
  display: flex;
  font-size: 1rem;
  min-width: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
}
.form-group-horizontal-control {
  display: flex;
  flex-direction: row;
  width: 55px;
}

div .form-drop-box {
  gap: 5px;
  padding: 5px;
  height: 2.5rem;
  min-width: 50px;
}
#city,
#state {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 2rem;
}

.subtext {
  color: #a9a9a9;
  font-weight: unset;
}

a .image {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2px;
  justify-content: flex-start;
  align-items: flex-start;
}

p {
  padding: 6px;
  gap: 8px;
  align-content: flex-start;
}

#sign-in-form,
#sign-up-form {
  min-width: 900px;
  padding: 10px;
}

h2 {
  padding-bottom: 0px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px;
}
.check-box-label {
  font-weight: normal;
  justify-content: flex-start;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}
a {
  color: blue;
}
input[type="submit"] {
  width: unset;
  height: unset;
  padding: 19px 20px;
  background: #6212e2;
  color: white;
  font-size: 18px;
  border: 1px solid #8b8c91;
  border-radius: 12rem;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}
